.card1 {
  background-image: url("https://images.unsplash.com/photo-1562329265-95a6d7a83440?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80");
}
.card2 {
  background-image: url("https://images.unsplash.com/photo-1615414047026-802692414b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
}
.card3 {
  background-image: url("https://images.unsplash.com/photo-1597953066321-9bf0e32348fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHRoZWF0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
}
.card4 {
  background-image: url("https://images.unsplash.com/photo-1580809361436-42a7ec204889?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHRoZWF0ZXIlMjBsb25kb258ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
}
.card5 {
  background-image: url("https://images.unsplash.com/photo-1532089006065-de61ca171e56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}
